.Cart {
  border: 2px solid #555;
  padding: 12px 5px 5px;
  position: relative;
  background-color: #f5f5f5;
}

.Cart h3 {
  margin: 0;
  position: absolute;
  left: 5px;
  top: 0;
  transform: translateY(-50%);
  background-color: #fff;
  /*padding: 0 3px;*/
  font-size: 16px;
}

.Cart-order {
  padding: 8px 0;
  min-height: 35px;
  border-bottom: 1px solid #ccc;
}
.Cart-order > div {
  margin-bottom: 5px;
}
.Cart-order > div:last-child {
  margin-bottom: 0;
}

.Cart-price {
  padding: 8px 0;
}
.Cart-price > p {
  display: flex;
  margin: 0 0 5px;
}
.Cart-price > p:last-child {
  margin-bottom: 0;
}
.Cart-price > p > span {
  flex-grow: 1;
}

.Cart button {
  padding: 8px 12px 8px;
  border: 2px solid #333;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  width: 100%;
  transition: 0.3s;
}

.Cart button:hover {
  background-color: #b0c4de;
}

.Cart button:active {
  transform: translate(1px, -1px);
}