.Product {
  border: 2px solid #555;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: #f5f5f5;
}

.Product img {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #fff;
  transition: 0.2s;
}
.Product img:hover {
  transform: scale(1.5);
}

.Product div {
  flex-grow: 1;
  margin-left: 10px;
}

.Product div p {
  margin: 0;
}

.Product button {
  padding: 12px 24px 12px 48px;
  margin-right: 5px;
  border: 2px solid #333;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background: #fff url(../../assetts/images/cart-add.svg) 5px 50% no-repeat;
  background-size: auto 80%;
  transition: 0.3s;
}

.Product button:hover {
  background-color: #b0c4de;
}

.Product button:active {
  transform: translate(1px, -1px);
}