* { box-sizing: border-box }

.App {
  padding: 15px;
}

.App-body {
  display: flex;
  align-items: flex-start;
}

.App-body > div:first-child {
  flex-grow: 1;
}

.App-body > div:last-child {
  margin-left: 5px;
  width: 300px;
}